.footer {
    background-color: #333; /* Dark background for the footer */
    color: white;
    padding: 20px;
    text-align: left;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1;
    margin: 10px;
  }
  
  .footer-section h3 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-section ul li a:hover {
    color: orange; /* Change text color on hover */
  }
  
  .footer-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .footer-buttons .register-button {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .footer-buttons .login-button {
    background-color: transparent;
    color: orange;
    border: 2px solid orange;
    padding: 8px 18px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .footer-buttons .register-button:hover,
  .footer-buttons .login-button:hover {
    background-color: darkorange;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-top: 1px solid #555;
    padding-top: 10px;
  }
  
  .footer-bottom p {
    margin: 0;
  }
  
  .social-media {
    display: flex;
    align-items: center;
  }
  
  .social-media span {
    margin-right: 10px;
  }
  
  .social-media a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .social-media a:hover {
    color: orange; /* Change icon color on hover */
  }
  