/* General Page Styles */
.home-page {
    padding: 20px;
    background-color: black;
  }

 
  
  /* Industries Section */
  .industries {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
  }
  
  .industry-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
    
  }
  
  .industry-card {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s ease, transform 0.3s ease;
    max-width: 300px; /* Added max constraints */
    max-height: 70px;
    margin-left: 8px;
  }
  
  .industry-card:hover {
    background-color: #333;
    transform: scale(1.05);
  }
  
 /* Why Vizx Section */
.why-vizx {
  position: relative;
  height: 100vh; /* Full height */
  display: flex;
  align-self: center;
  justify-content: center;
  overflow: hidden;
  color: white; /* Default text color */
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ensures full height */
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Ensures full image fits without cropping */
}

.why-vizx .content-overlay {
  position: relative;
  z-index: 2; /* Place content above video */
  color: white; /* Ensure text visibility */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Better text contrast */
  text-align: center;
}

.text-lg {
  max-width: 750px; /* Adjust width as needed */
  margin: 0 auto; /* Center the paragraph */
  text-align: center; /* Keep it readable */
}


  
  .feature-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }
  
  .feature-icon {
    font-size: 24px;
    color: orange;
    margin-right: 10px;
  }
  
  /* Clients Section */
  .clients {
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: center;
    padding: 20px 10px;
  }
  
  .client-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .client-logo-container img {
    width: 200px; /* Adjust as needed */
    height: auto; /* Maintains aspect ratio */
    max-width: 150px; /* Prevents it from getting too large */
    max-height: 75px;
    object-fit: contain;
}

  
  .client-logo-container:hover {
    transform: scale(1.05);
  }
  
  /* Partners Section */
  .partners {
    background-color: #ffffff;
    text-align: center;
    padding: 40px 20px;

  }
   